h1, h2 {
    text-align: center; 
    margin-top: 1em; 
    margin-bottom: .5em; 
}


.collections-list {
    display: flex; 
    flex-wrap: wrap; 
    gap: 1em; 
    padding: 0; 
    margin: 0 auto; 
    list-style-type: none; 
    max-width: calc(100% - 2em); 
    justify-content: center; 
}


.my-collections, .recommended-collections, .other-collections {
    margin: 0 1em; 
    width: calc(100% - 2em); 
    box-sizing: border-box; 
}


.collection-card {
    flex: 1 1 240px; 
    max-width: 240px; 
    box-sizing: border-box; 
}

.card-link {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}

.card {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    overflow: hidden; 
    width: 100%; 
    height: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card-img-wrapper {
    width: 100%;
    height: 150px; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    max-width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.card-body {
    padding: 1em; 
    text-align: center; 
    flex-grow: 1; 
}

.card-title {
    font-size: 1.1em; 
    margin-bottom: 0.5em; 
}

.card-text {
    color: #666; 
    font-size: 0.875em; 
}