
#message-form-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #dee2e6;
}

#message-content {
    height: 38px;
    resize: none; 
}


.thread-message {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.message-author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message-author img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.message-content {
    margin-left: 50px; 
}
.like-icon:hover,
.dislike-icon:hover {
    cursor: pointer;  
}

.thread-message {
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px; 
    transition: box-shadow 0.3s ease; 
}

.thread-message:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}