.recipe-list-item {
    display: block;
    list-style: none;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
    font-family: Arial, sans-serif;
    position: relative;
}
.recipe-list-item a {
    text-decoration: none;
}

.recipe-list-item:hover {
    outline: 2px solid saddlebrown;
}

.recipe-list-item-cover {
    width: 100%;
    height: 180px;
    border-radius: 8px 8px 0 0; 
    overflow: hidden;
}

.recipe-list-item-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-list-item-info {
    padding: 15px;
    text-align: center;
}

.recipe-list-item-info h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.recipe-list-item-time {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0;
}

.recipe-list-item-author {
    font-size: 12px;
    color: #777;
}

.recipe-list-item-author a {
    color: #333;
    text-decoration: none;
}

.recipe-list-item-stars {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #ccc;
}

.fa-star {
    display: inline-block;
    color: #ccc;
}

.fa-star.filled {
    color: gold;
}

.fa-star.half-filled {
    background-image: linear-gradient(to right, gold, #ccc);
}

.recipe-list-item-actions {
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
}

.recipe-list-item-actions .btn {
    padding: 0.5em; 
    font-size: 1.2em; 
    display: flex; 
    align-items: center;
    justify-content: center;
}