



#add-step-btn {
  margin-top: 30px;
  vertical-align: center;
  height: 40px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

#create-recipe-btn {
  background-color: #6dff1b;
  color: #333333;
  font-weight: bold;
  margin-bottom: 1rem;
  border-color: #333333;
}

#edit-recipe-btn {
  background-color: #0192ff;
  color: cornsilk;
  font-weight: bold;
  margin-bottom: 1rem;
  border-color: cornsilk;
}