
.search-recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    width: 95%; 
    max-width: 1500px; 
    margin: 20px auto; 
}

.search-recipe-list li {
    background-color: #f8f8f8;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.search-recipe-list li a {
    text-decoration: none;
    color: inherit;
}

.search-recipe-list li img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.search-recipe-list li p {
    margin: 10px 0 0;
    font-size: 14px;
}

fieldset legend {
    margin-left: 5px;
}

.search-div {
    margin-left: 15px;
}

#create-recipe-btn {
    margin-top: 15px;
}