[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sshtunnel = "*"
ssh-tunnel = "*"
psycopg2 = "*"
asgiref = "*"
bcrypt = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
cryptography = "*"
django-allauth = "*"
django-crispy-forms = "*"
google-auth = "*"
idna = "*"
jwt = "*"
paramiko = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pynacl = "*"
requests = "*"
rsa = "*"
sqlparse = "*"
tzdata = "*"
urllib3 = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
crispy-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.12"
