[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
sshtunnel = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
pyjwt = "*"
pillow = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
