[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sshtunnel = "*"
ssh-tunnel = "*"
# psycopg2 = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
requests = "*"
jwt = "*"
google-auth = "*"
crispy-bootstrap5 = "*"
pyjwt = "*"
authlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
