asgiref==3.8.1
bcrypt==4.2.0
cachetools==5.5.0
cffi==1.17.0
crispy-bootstrap5==2024.2
cryptography==43.0.1
django==5.1.1
django-allauth==64.2.0
django-crispy-forms==2.3
google-auth==2.34.0
paramiko==3.4.1
pillow==10.4.0
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
pyjwt==2.9.0
pynacl==1.5.0
rsa==4.9
sqlparse==0.5.1
sshtunnel==0.4.0
typing-extensions==4.12.2
