{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}

<script src="https://accounts.google.com/gsi/client" async defer></script>

{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}

<form method="post"> {% csrf_token %}
    {{ form | crispy }}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <input type="submit" class="login-btn" value="Accedi!">
</form>
<p>Non hai un account su TasteTribe? <a href="{% url 'register' %}">Registrati subito!</a></p>
<div id="g_id_onload"
     data-client_id="253692078578-gti4mgr39kol8974nhnddi430qbjpkt3.apps.googleusercontent.com"
     data-login_uri="{% url 'googleauth' %}">
</div>

{% endblock %}