{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Cambia password {% endblock %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'stylesheets/user-profile-edit.css' %}">


{% endblock %}

{% block content %}

<div class="profile-edit-container">
    <h2>Cambia Password</h2>
    <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
</div>

{% endblock %}