{% extends "base.html" %}

{% block title %} Utente: {{user.first_name}} {{user.last_name}} {% endblock %}

{% block head %}
    
{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}

{% block content %}
    
<a href="{% url 'homepage' %}">
    <img src="{% static '/images/tastetribe_logo.png' %}" alt="TasteTribe - Homepage">
</a>

<h1>Profilo utente - {{user.first_name}} {{user.last_name}}</h1>
<img src="data:image/png;base64,{{reg_user.reg_user_profile_pic}}" alt="Nessuna foto profilo trovata">
<p>@{{user.username}}</p>
<p>Contatta: {{user.email}}</p>
<p>Presentazione dell'utente: {{reg_user.reg_user_about}}</p>
    
{% if logged_user.id == user.id %}
    <a href="{% url 'edit_profile' %}">Modifica il tuo profilo</a>
    <a href="{% url 'password_change' %}">Cambia la password del tuo account</a>
    {% if logged_user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}"> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Disconnettiti">
        </form>
    {% endif %}
{% endif %}

<h2>Ricette pubblicate da {{user.first_name}} {{user.last_name}}</h2>

{% if recipes %}
    <ul>
        {% for recipe in recipes %}
            <li>
                <a href="{% url 'recipe_details' recipe.recipe_guid %}"><h3>{{recipe.recipe_name}}</h3></a>
                <p>{{recipe.recipe_description}}</p>
                <p>Vegetariana: {{recipe.recipe_is_vegetarian}}</p>
                <p>Vegana: {{recipe.recipe_is_vegan}}</p>
                <p>Senza glutine: {{recipe.recipe_gluten_free}}</p>
                <p>Creata in data {{recipe.recipe_creation_date}}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>L'utente non ha ancora pubblicato nessuna ricetta!</p>
{% endif %}

{% endblock %}