{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}

<script src="https://accounts.google.com/gsi/client" async defer></script>

{% endblock %}

{% block title %} Registrazione {% endblock %}

{% block content %}

<form method="post"> {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" class="register-btn" value="Registrati ora!">
</form>
<div id="g_id_onload"
     data-client_id="253692078578-gti4mgr39kol8974nhnddi430qbjpkt3.apps.googleusercontent.com"
     data-login_uri="http://localhost:8000/googleauth/">
</div>

{% endblock %}