{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}

{% if user_pw %}
    <script type="text/javascript">
        alert("Welcome aboard! The system generated this password for you allowing you to sign in using your username: {{user_pw}} ! You can still sign in using your Google account");
    </script>
{% endif %}

{% endblock %}

{% block title %} Modifica info utente {% endblock %}

{% block content %}

<form method="post" class="user-edit-form">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" class="save-btn" value="Salva">
</form>

{% endblock %}