{% extends "base.html" %}

{% block head %}

{% load static %}

{% endblock %}

{% block title %} TasteTribe - Quiz {% endblock %}

{% block content %}

<h1>Benvenuto {{ request.user.first_name }} {{ request.user.last_name }} nella sezione dei quiz culinari!</h1>
<h2>Scegli un quiz per giocare e divertirti oppure <a href="{% url 'quiz_creation' %}">crea un tuo quiz personale</a></h2>
<ul>
    {% if object_list %}
        {% for quiz in quiz_list %}
            <h3><a href="{% url 'quiz_game' quiz.quiz_guid %}">{{ quiz.quiz_title }}</a></h3>
            <p>Difficoltà: {{ quiz.quiz_difficulty }}</p>
            <p>Creato da: {{ quiz.quiz_author.first_name }} {{ quiz.quiz_author.last_name }}</p>
        {% endfor %}
    {% else %}
        <h3>Incredibile ma vero, non c'è nessun quiz disponibile sulla piattaforma! <a href="{% url 'quiz_creation' %}">Creane subito uno tu!</a></h3>
    {% endif %}
</ul>

{% endblock %}