{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'stylesheets/creation-form.css' %}">

{% endblock %}

{% block title %} Creazione quiz {% endblock %}

{% block content %}

<h1 style="text-align: center">Ciao {{ request.user.first_name }} {{ request.user.last_name }}, benvenuto nella pagina di creazione quiz!</h1>
<form method="post" class="container-md">
    {% csrf_token %}
    {% crispy form %}
    <div></div>
</form>
<script src="{% static 'scripts/quiz-creation-scripts.js' %}"></script>


{% endblock %}