{% extends "base.html" %}

{% block head %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#search-form').on('submit', function(event) {
            event.preventDefault();
            $('#search-results').empty();
            $.ajax({
                url: "{% url 'search' %}",
                data: $(this).serialize(),
                dataType: 'json',
                success: function(data) {
                    $('#search-results').empty();
                    if (data.length > 0) {
                        data.forEach(function(recipe) {
                            $('#search-results').append('<li>' + recipe.recipe_name + '</li>');
                        });
                    } else {
                        $('#search-results').append('<li>No results found</li>');
                    }
                },
                error: function() {
                    $('#search-results').append('<li>Error occurred</li>');
                }
            });
        });
    });
</script>

{% endblock %}

{%  block title %} TasteTribe {% endblock %}

{% block content %}

<h1> TasteTribe - Homepage </h1>

<form id="search-form">
    {{ form.as_p }}
    <button type="submit">Cerca</button>
</form>
<ul id="search-results">
</ul>

{% endblock %}