{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}

{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'stylesheets/homepage.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/forum-thread.css' %}">

{% endblock %}

{%  block title %} TasteTribe - {{ forum_thread.fthread_title }} {% endblock %}

{% block content %}

<div class="container mt-4 mb-5">
    {% if user_allowed %}
    <h1 class="mb-4">{{ forum_thread.fthread_title }}</h1>
    <div id="messages-section">
        {% for message in fmessages reversed %}
            <div class="thread-message" id="message-{{ message.id }}">
                <div class="message-author d-flex align-items-center mb-2">
                    <img src="data:image/*;base64,{{ message.reg_user.reg_user_profile_pic }}" alt="Avatar" class="rounded-circle me-2" width="40" height="40">
                    <div>
                        <strong>{{ message.fmessage_author.first_name }} {{ message.fmessage_author.last_name }}</strong><br>
                        <small class="text-muted">{{ message.fmessage_creation_date|date:"d/m/Y H:i" }}</small>
                    </div>
                </div>
                <p class="message-content mb-3">{{ message.fmessage_content }}</p>
                <div class="d-flex align-items-center mb-3">
                    <span class="like-icon me-4" data-message-id="{{ message.id }}" data-interaction-type="like">
                        {% if message.user_interaction == 1 %}
                            <i class="fa-solid fa-thumbs-up" id="like-icon-{{ message.id }}" style="color: #0a9900;"></i>
                        {% else %}
                            <i class="fa-regular fa-thumbs-up" id="like-icon-{{ message.id }}" style="color: #000000;"></i>
                        {% endif %}
                        <small>{{ message.fmessage_up_votes }}</small>
                    </span>
                    <span class="dislike-icon" data-message-id="{{ message.id }}" data-interaction-type="dislike">
                        {% if message.user_interaction == -1 %}
                            <i class="fa-solid fa-thumbs-down" id="dislike-icon-{{ message.id }}" style="color: #b80000;"></i>
                        {% else %}
                            <i class="fa-regular fa-thumbs-down" id="dislike-icon-{{ message.id }}" style="color: #000000;"></i>
                        {% endif %}
                        <small>{{ message.fmessage_down_votes }}</small>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="message-form-container">
        <form id="message-form" method="post" action="{% url 'forum_thread' forum_thread.fthread_guid %}">
            {% csrf_token %}
            <div class="input-group">
                <textarea id="message-content" class="form-control" placeholder="Scrivi un messaggio..." name="fmessage_content"></textarea>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Invia</button>
                </div>
            </div>
        </form>
    </div>
    {% else %}
    <p class="alert alert-warning">Non sei autorizzato a visualizzare questo thread.</p>
    {% endif %}
</div>

<script>

</script>

<script>
    /* Passing Django data to JS file */
    var forumThreadUrl = "{% url 'forum_thread' forum_thread.fthread_guid %}";
    var toggleInteractionUrl = "{% url 'toggle_interaction' %}";
    var csrfToken = '{{ csrf_token }}';
</script>

<script src="{% static 'scripts/forum-thread-scripts.js' %}"></script>

{% endblock %}

{% block other_headers %}
    <div id="otherSections">
        <h3 style="text-align: center;">Esplora il sito:</h3>
        <div class="other-section-btns">
            <button class="section-btn forum-btn"><a href="{% url 'forums' %}"><i class="fa-solid fa-comments"></i> Forum</a></button>
            {% if user.is_authenticated %}
                <button class="section-btn collections-btn"><a href="{% url 'collections' %}"><i class="fa-solid fa-layer-group"></i> Raccolte di ricette</a></button>
                <button class="section-btn quiz-btn"><a href="{% url 'quiz_home' %}"><i class="fa-regular fa-circle-question"></i> Quiz culinari</a></button>
                <button class="section-btn new-recipe-btn"><a href="{% url 'homepage' %}"><i class="fa-solid fa-magnifying-glass"></i> Cerca ricette</a></button>
            {% endif %}
        </div>
    </div>
{% endblock %}