{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'stylesheets/homepage.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/forum-home.css' %}">

{% endblock %}

{%  block title %} TasteTribe - Forums {% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="container-md text-center">
        <h1 class="mb-4">Forum Homepage</h1>
    </div>

    <div class="row">
        {% for thread in fthreads %}
            <div class="col-md-6 mb-4">
                <div class="card clickable-card" data-url="{% url 'forum_thread' thread.fthread_guid %}">
                    {% comment %} <a style="text-decoration: none; color: black;" href="{% url 'forum_thread' thread.fthread_guid %}"> </a> {% endcomment %}
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <!-- Icona dell'utente creatore -->
                                <img src="data:image/*;base64,{{ thread.reg_user.reg_user_profile_pic }}" alt="Avatar" class="rounded-circle me-4" width="50" height="50">
                                
                                <!-- Dettagli del thread -->
                                <div>
                                    <h5 class="card-title">{{ thread.fthread_title }}</h5>
                                    <p class="card-text">
                                        Creato da: <a href="{% url 'profile' thread.fthread_creator.id %}" class="text-primary">@{{ thread.fthread_creator.username }}</a><br>
                                        Data di creazione: {{ thread.fthread_creation_date|date:"d/m/Y H:i" }}<br>
                                        Numero di risposte: {{ thread.responses_count }}<br>
                                        {% if thread.latest_message %}
                                            Ultima risposta di: <a href="{% url 'profile' thread.latest_message.fmessage_author.id %}" class="text-primary">@{{ thread.latest_message.fmessage_author.username }}</a>
                                        {% else %}
                                            Nessuna risposta.
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-muted">Non ci sono thread nel forum.</p>
            </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="createThreadModal" tabindex="-1" aria-labelledby="createThreadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createThreadModalLabel">Creazione nuovo thread</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="thread-creation-form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="fthread_title" class="form-label">Titolo del thread</label>
                        <input type="text" class="form-control" id="fthread_title" name="fthread_title" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Crea</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#thread-creation-form").on("submit", function(event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'forum_create_thread' %}",
                type: "POST",
                data: $(this).serialize(),
                success: function(data) {
                    if (data.fthread_guid) {
                        window.location.href = "/forum/thread/" + data.fthread_guid + "/";
                    }
                },
                error: function(xhr, errmsg, err) {
                    alert('Si è verificato un errore nella creazione del thread: ' + errmsg);
                }
            });
        });
    });

    $(document).ready(function() {
        $(".clickable-card").on("click", function(event) {
            // Ottieni l'URL dal data attribute
            var url = $(this).data("url");
    
            // Verifica se il clic è avvenuto su un link all'interno della card
            if (!$(event.target).closest('a').length) {
                window.location.href = url;
            }
        });
    });
</script>

{% endblock %}

{% block other_headers %}
    <div id="otherSections">
        <h3 style="text-align: center;">Esplora il sito:</h3>
        <div class="other-section-btns">
            <button class="section-btn forum-btn"><a href="{% url 'homepage' %}"><i class="fa-solid fa-magnifying-glass"></i> Cerca ricette</a></button>
            {% if user.is_authenticated %}
                <button class="section-btn collections-btn"><a href="{% url 'collections' %}"><i class="fa-solid fa-layer-group"></i> Raccolte di ricette</a></button>
                <button class="section-btn quiz-btn"><a href="{% url 'quiz_home' %}"><i class="fa-regular fa-circle-question"></i> Quiz culinari</a></button>
                {% if can_open_threads %}
                    <button type="button" class="section-btn new-recipe-btn" data-bs-toggle="modal" data-bs-target="#createThreadModal"><i class="fa-solid fa-circle-plus"></i> Crea un nuovo thread</button>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}