<div class="review-section">
    <strong>RECENSIONI UTENTI:</strong>
    <ul>
        {% for review in reviews %}
            <div class="recipe-review" id="review-{{ review.id }}">
                <p>Recensione di {% if locked_reviews %}Anonimo{% else %}{{ review.review_author_guid.first_name }} {{ review.review_author_guid.last_name }}{% endif %}</p>
                <p>Voto: {{ review.review_grade }} - {{ review.review_notes }}</p>
                <span class="like-icon" data-review-id="{{ review.id }}" data-interaction-type="like">
                    {% if review.user_interaction == 1 %}
                        <i class="fa-solid fa-thumbs-up" id="like-icon-{{ review.id }}" style="color: #0a9900;"></i>
                    {% else %}
                        <i class="fa-regular fa-thumbs-up" id="like-icon-{{ review.id }}" style="color: #000000;"></i>
                    {% endif %}
                    <small>{{ review.review_up_votes }}</small>
                </span>
                <span class="dislike-icon" data-review-id="{{ review.id }}" data-interaction-type="dislike">
                    {% if review.user_interaction == -1 %}
                        <i class="fa-solid fa-thumbs-down" id="dislike-icon-{{ review.id }}" style="color: #b80000;"></i>
                    {% else %}
                        <i class="fa-regular fa-thumbs-down" id="dislike-icon-{{ review.id }}" style="color: #000000;"></i>
                    {% endif %}
                    <small>{{ review.review_down_votes }}</small>
                </span>
            </div>
        {% endfor %}
    </ul>
</div>

{% if not locked_reviews %}
{% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<div class="add-review-section">
    <strong>Aggiungi la tua recensione:</strong>
    <form id="reviewForm" method="post">
        {% csrf_token %}
        <div class="rating">
            <input type="radio" id="star5" name="review_grade" value="5" /><label for="star5" title="5 stars">
                <svg class="star" viewBox="0 0 24 24">
                    <path d="M12 .587l3.668 7.568L24 9.748l-6 5.847 1.422 8.305L12 19.25l-7.422 4.65L6 15.595l-6-5.847 8.332-1.593z"/>
                </svg>
            </label>
            <input type="radio" id="star4" name="review_grade" value="4" /><label for="star4" title="4 stars">
                <svg class="star" viewBox="0 0 24 24">
                    <path d="M12 .587l3.668 7.568L24 9.748l-6 5.847 1.422 8.305L12 19.25l-7.422 4.65L6 15.595l-6-5.847 8.332-1.593z"/>
                </svg>
            </label>
            <input type="radio" id="star3" name="review_grade" value="3" /><label for="star3" title="3 stars">
                <svg class="star" viewBox="0 0 24 24">
                    <path d="M12 .587l3.668 7.568L24 9.748l-6 5.847 1.422 8.305L12 19.25l-7.422 4.65L6 15.595l-6-5.847 8.332-1.593z"/>
                </svg>
            </label>
            <input type="radio" id="star2" name="review_grade" value="2" /><label for="star2" title="2 stars">
                <svg class="star" viewBox="0 0 24 24">
                    <path d="M12 .587l3.668 7.568L24 9.748l-6 5.847 1.422 8.305L12 19.25l-7.422 4.65L6 15.595l-6-5.847 8.332-1.593z"/>
                </svg>
            </label>
            <input type="radio" id="star1" name="review_grade" value="1" /><label for="star1" title="1 star">
                <svg class="star" viewBox="0 0 24 24">
                    <path d="M12 .587l3.668 7.568L24 9.748l-6 5.847 1.422 8.305L12 19.25l-7.422 4.65L6 15.595l-6-5.847 8.332-1.593z"/>
                </svg>
            </label>
        </div>
        <div class="form-group">
            <textarea name="review_notes" class="form-control" placeholder="Scrivi la tua recensione qui..." rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-success mt-3">Pubblica</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#reviewForm').on('submit', function(event) {
            event.preventDefault();
        var reviewGrade = $('input[name="review_grade"]:checked').val();
        var reviewNotes = $('textarea[name="review_notes"]').val().trim();

        if (!reviewGrade) {
            alert('Devi selezionare un numero di stelle per lasciare una recensione.');
            return;
        }
        if (!reviewNotes) {
            alert('Le note della recensione non possono essere vuote.');
            return;
        }

        $.ajax({
            url: "{% url 'add_review' recipe.recipe_guid %}", // Modifica l'URL in base al tuo URL pattern
            type: "POST",
            data: {
                review_grade: reviewGrade,
                review_notes: reviewNotes,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(response) {
                if (response.new){
                    // Aggiungi la nuova recensione alla lista
                    var newReviewHtml = `
                        <div class="recipe-review" id="review-${response.review_id}">
                            <p>Recensione di ${response.author}</p>
                            <p>Voto: ${response.review_grade} - ${response.review_notes}</p>
                            <span class="like-icon" data-review-id="${response.review_id}" data-interaction-type="like">
                                <i class="fa-regular fa-thumbs-up" id="like-icon-${response.review_id}"></i>
                                <small>${response.review_up_votes}</small>
                            </span>
                            <span class="dislike-icon" data-review-id="${response.review_id}" data-interaction-type="dislike">
                                <i class="fa-regular fa-thumbs-down" id="dislike-icon-${response.review_id}"></i>
                                <small>${response.review_down_votes}</small>
                            </span>
                        </div>
                    `;
                    $('.review-section ul').append(newReviewHtml);
    
                } else {
                    // Aggiorna la recensione esistente
                    var reviewHtml = `
                        <p>Recensione di ${response.author}</p>
                        <p>Voto: ${response.review_grade} - ${response.review_notes}</p>
                        <span class="like-icon" data-review-id="${response.review_id}" data-interaction-type="like">
                            <i class="fa-regular fa-thumbs-up" id="like-icon-${response.review_id}"></i>
                            <small>${response.review_up_votes}</small>
                        </span>
                        <span class="dislike-icon" data-review-id="${response.review_id}" data-interaction-type="dislike">
                            <i class="fa-regular fa-thumbs-down" id="dislike-icon-${response.review_id}"></i>
                            <small>${response.review_down_votes}</small>
                        </span>
                    `;
                    $('#review-' + response.review_id).html(reviewHtml);
                }
                
                // Resetta il form
                $('#reviewForm')[0].reset();
            },
            error: function(xhr, errmsg, err) {
                alert("Si è verificato un errore durante l'aggiunta della recensione.");
            }
        });
    });
});
</script>

{% endif %}

<style>
    .rating {
        direction: rtl;
        unicode-bidi: bidi-override;
        font-size: 30px;
        margin-bottom: 10px;
        display: inline-block;
    }
    .rating > input {
        display: none;
    }
    .rating > label {
        float: right;
        cursor: pointer;
    }
    .star {
        fill: #ddd;
        width: 30px;
        height: 30px;
        transition: fill 0.2s ease-in-out;
    }
    .rating > input:checked ~ label > .star,
    .rating > label:hover > .star,
    .rating > label:hover ~ label > .star {
        fill: #f5c518;
    }
    .form-group {
        margin-top: 15px;
    }
</style>

