{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}

{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'stylesheets/creation-form.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/recipe-creation.css' %}">

{% endblock %}

{% block title %} Nuova Ricetta {% endblock %}

{% block content %}

<h1 style="text-align: center">Crea una nuova ricetta</h1>
<form method="post" class="container-md">
    {% csrf_token %} {% crispy form %}
</form>

{% include "allergen_selection_modal.html" %}

<script src="{% static 'scripts/recipe-creation-scripts.js' %}"></script>

{% endblock %}
