<div class="recipe-details-ingredients">
    <strong>Lista ingredienti:</strong>
    <ul>
        {% for ingredient in ingredients %}
            <li class="ingredient-item">
                <em class="ingredient-name">{{ingredient.ingredient.ingredient_name}}</em> - Dosaggio: <em>{{ingredient.dosage}}</em> -
                {% if ingredient.allergens %}
                    Allergeni: <em>{% for allergen in ingredient.allergens %} {{allergen.allergen_id}} {% endfor %}</em>
                {% else %}
                    Nessun allergene segnalato
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>