{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} TasteTribe {% endblock %}

{% block head %}

{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'stylesheets/homepage.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/recipe-list-item.css' %}">
<script src="{% static 'scripts/carousel-handler.js' %}"></script>

{% endblock %}

{% block content %}

    <div id="otherSections">
        <h3>Esplora il sito:</h3>
        <button><a href="{% url 'forums' %}">Forum</a></button>
        {% if user.is_authenticated %}
        	<button><a href="{% url 'collections' %}">Raccolte di ricette</a></button>
        	<button><a href="{% url 'quiz_home' %}">Quiz culinari</a></button>
            <button><a href="{% url 'recipe_create' %}">Crea una nuova ricetta</a></button>
        {% endif %}
    </div>

    {% if notifications %}
        <script type="text/javascript">
            {% for notification in notifications %}
                alert("Ciao {{ user.first_name }} {{ user.last_name }}, hai una notifica non letta: {{ notification }}");
            {% endfor %}
        </script>
    {% endif %}

    {% include "search_form_section.html" %}
    
    {% if latest_recipes %}
    <h2>Ultime ricette pubblicate</h2>
    <div class="carousel-container">
        <button class="carousel-arrow prev">&#8249;</button>
        <div class="carousel-wrapper">
            <ul class="homepage-recipe-list">
                {% for recipe in latest_recipes %}
                    {% include "recipe_list_item.html" %}
                {% endfor %}
            </ul>
        </div>
        <button class="carousel-arrow next">&#8250;</button>
    </div>
    {% endif %}
            
    {% if tags_recipes %}
    <h2>In base ai tuoi gusti</h2>
    <div class="carousel-container">
        <button class="carousel-arrow prev">&#8249;</button>
        <div class="carousel-wrapper">
            <ul class="homepage-recipe-list">
                {% for recipe in tags_recipes %}
                    {% include "recipe_list_item.html" %}
                {% endfor %}
            </ul>
        </div>
        <button class="carousel-arrow next">&#8250;</button>
    </div>
    {% endif %}
            
    {% if ingredient_recipes %}
    <h2>Altre ricette con {{ ingredient_name }}</h2>
    <div class="carousel-container">
        <button class="carousel-arrow prev">&#8249;</button>
        <div class="carousel-wrapper">
            <ul class="homepage-recipe-list">
                {% for recipe in ingredient_recipes %}
                    {% include "recipe_list_item.html" %}
                {% endfor %}
            </ul>
        </div>
        <button class="carousel-arrow next">&#8250;</button>
    </div>
    {% endif %}

    {% if season_recipes %}
    <h2>Altre ricette in {{ season }}</h2>
    <div class="carousel-container">
        <button class="carousel-arrow prev">&#8249;</button>
        <div class="carousel-wrapper">
            <ul class="homepage-recipe-list">
                {% for recipe in season_recipes %}
                    {% include "recipe_list_item.html" %}
                {% endfor %}
            </ul>
        </div>
        <button class="carousel-arrow next">&#8250;</button>
    </div>
    {% endif %}

    <h2>Tutte le altre ricette</h2>
    <div class="carousel-container">
        <button class="carousel-arrow prev">&#8249;</button>
        <div class="carousel-wrapper">
            <ul class="homepage-recipe-list">
                {% for recipe in recipes %}
                    {% include "recipe_list_item.html" %}
                {% endfor %}
            </ul>
        </div>
        <button class="carousel-arrow next">&#8250;</button>
    </div>

{% endblock content %}

