<li class="recipe-list-item">
    <a href="{% url 'recipe_details' recipe.recipe_guid %}">
        <div class="recipe-list-item-cover">
            <img src="data:image/*;base64,{{ recipe.recipe_cover }}" alt="{{ recipe.recipe_name }}">
        </div>
        <div class="recipe-list-item-info">
            <h2>{{ recipe.recipe_name }}</h2>
            {% if not exclude_author %}
            <small class="recipe-list-item-author">
                di <a href="{% url 'profile' recipe.recipe_author.id %}">@{{ recipe.recipe_author.username }}</a>
            </small>
            {% endif %}
            
            {% if not exclude_creation_date %}
            <small class="recipe-list-item-creation-date">creata il {{ recipe.recipe_creation_date|date:"d/m/Y" }}</small>
            {% endif %}
            <span class="recipe-list-item-time">Tempo di preparazione: {{ recipe.recipe_prep_time }}</span>
            <div class="recipe-list-item-rating">
                <div class="recipe-list-item-stars" data-rating="{{ recipe.recipe_avg_rating }}">
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% if exclude_del_from_collection %}
    <div class="recipe-list-item-actions">
        <button type="button" class="btn btn-danger delete-icon" data-collection-guid="{{ collection.collection_guid }}" data-recipe-guid="{{ recipe.recipe_guid }}">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
    {% endif %}
</li>