{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'stylesheets/homepage.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/collections.css' %}">



{% endblock %}

{% block title %}TasteTribe - Raccolte{% endblock %}

{% block content %}
<h1>Raccolte di ricette</h1>

<!-- Section that will display collections created by the user -->
{% if user_collections %}
<div class="my-collections">
    <h2>Le tue raccolte:</h2>
    <ul class="collections-list">
        {% for collection in user_collections %}
            {% include "collection_list_item.html" with collection=collection %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<!-- Section that will display a list of up to 5 recommended collections -->
<div class="recommended-collections">
    <h2>Raccolte per te:</h2>
    {% if recommended_collections %}
    <ul class="collections-list">
        {% for collection in recommended_collections %}
            {% if not collection.collection_is_private %}
                {% include "collection_list_item.html" with collection=collection %}
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>Spiacente, sulla base dei dati forniti non riusciamo a produrre dei suggerimenti pertinenti!</p>
    {% endif %}
</div>

<!-- Section that will display all the other collections that the user can see -->
<div class="other-collections">
    <h2>Altre raccolte:</h2>
    {% if other_collections %}
    <ul class="collections-list">
        {% for collection in other_collections %}
            {% if not collection.collection_is_private %}
                {% include "collection_list_item.html" with collection=collection %}
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>Spiacente, al momento non ci sono nuove raccolte di ricette da scoprire!</p>
    {% endif %}
</div>

{% include "collection_creation_modal.html" %}

<script>
    const collectionUrl = "{% url 'collections' %}";
</script>
<script src="{% static 'scripts/scripts.js' %}" async></script>

{% endblock %}

{% block other_headers %}
    <div id="otherSections">
        <h3 style="text-align: center;">Esplora il sito:</h3>
        <div class="other-section-btns">
            <button class="section-btn forum-btn"><a href="{% url 'forums' %}"><i class="fa-solid fa-comments"></i> Forum</a></button>
            <button class="section-btn collections-btn"><a href="{% url 'homepage' %}"><i class="fa-solid fa-layer-group"></i> Cerca ricette</a></button>
            <button class="section-btn quiz-btn"><a href="{% url 'quiz_home' %}"><i class="fa-regular fa-circle-question"></i> Quiz culinari</a></button>
            <button id="btnCollectionCreation" class="section-btn new-recipe-btn" data-bs-toggle="modal" data-bs-target="#collectionCreationModal"><i class="fa-solid fa-circle-plus"></i> Crea una nuova raccolta</button>
        </div>
    </div>
{% endblock %}