{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Raccolta: {{ collection.collection_name }} {% endblock %}

{% block head %}

{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<script>
$(document).ready(function() {
    $(".delete-icon").on("click", function(event) {
        event.preventDefault();
        if (confirm("Sei sicuro di voler eliminare questa ricetta dalla raccolta?")) {
            var $this = $(this);
            var collectionGuid = $this.data("collection-guid");
            var recipeGuid = $this.data("recipe-guid");
            $.ajax({
                url: "{% url 'delete_from_collection' %}",
                type: "POST",
                data: {
                    "collection_guid": collectionGuid,
                    "recipe_guid": recipeGuid,
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response.success) {
                        $this.closest("li").remove();
                    } else {
                        alert("Errore nella cancellazione della ricetta.");
                    }
                },
                error: function() {
                    alert("Errore nella richiesta di cancellazione.");
                }
            });
        }
    });
});
</script>

{% endblock %}

{% block content %}

<div id="userSection">
    <button id="userPlaceholder" class="user-placeholder">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' user.id %}">
                <img src="data:image/*;base64,{{ reg_user.reg_user_profile_pic }}" alt="{{ user.first_name }} {{ user.last_name }}">
            </a>
        {% else %}
            <a href="{% url 'login' %}"><img src="{% static '/images/user.png' %}" alt="Login"></a>
        {% endif %}
    </button>
</div>

<div id="collectionInfoSection">
    <h1>{{ collection.collection_name }}</h1> <img src="data:image/png;base64,{{ collection.collection_cover }}">
    <h3>Creata da: {{ collection.collection_author.first_name }} {{ collection.collection_author.last_name }} in data {{ collection.collection_creation_date }}</h3>
</div>
<div id="collectionRecipesList">
    {% if recipes %}
    <ul>
        {% for recipe in recipes %}
        	<li>
                <b>{{ recipe.recipe_name }}</b>
                di <a href="/profile/{{ recipe.recipe_author.id }}">{{ recipe.recipe_author.first_name }} {{ recipe.recipe_author.last_name }}</a>
                <i>creata in data ({{ recipe.recipe_creation_date }})</i>
                <a href="/recipe/{{ recipe.recipe_guid }}"> Vai alla ricetta </a>
                {% if user.is_authenticated and user.id == collection.collection_author.id %}
                    <i class="fa-solid fa-trash delete-icon" data-collection-guid="{{ collection.collection_guid }}" data-recipe-guid="{{ recipe.recipe_guid }}" title="Elimina dalla raccolta"></i>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Questa raccolta di ricette è vuota!</p>
    {% endif %}
</div>
{% if user.is_authenticated and user.id == collection.collection_author.id %}
	<form method="GET" action="{% url 'search' %}">
        {% crispy form %}
    </form>
{% endif %}

{% endblock %}