{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %} Raccolta: {{ collection.collection_name }} {% endblock %}

{% block head %}

{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<script>
$(document).ready(function() {
    $(".delete-icon").on("click", function(event) {
        event.preventDefault();
        if (confirm("Sei sicuro di voler eliminare questa ricetta dalla raccolta?")) {
            var $this = $(this);
            var collectionGuid = $this.data("collection-guid");
            var recipeGuid = $this.data("recipe-guid");
            $.ajax({
                url: "{% url 'delete_from_collection' %}",
                type: "POST",
                data: {
                    "collection_guid": collectionGuid,
                    "recipe_guid": recipeGuid,
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(response) {
                    if (response.success) {
                        $this.closest("li").remove();
                    } else {
                        alert("Errore nella cancellazione della ricetta.");
                    }
                },
                error: function() {
                    alert("Errore nella richiesta di cancellazione.");
                }
            });
        }
    });
});
</script>

{% endblock %}

{% block content %}

<div id="collectionInfoSection">
    <h1>{{ collection.collection_name }}</h1> <img src="data:image/png;base64,{{ collection.collection_cover }}">
    <h3>Creata da: {{ collection.collection_author.first_name }} {{ collection.collection_author.last_name }} in data {{ collection.collection_creation_date }}</h3>
</div>
<div id="collectionRecipesList">
    {% if recipes %}
    <ul>
        {% for recipe in recipes %}
        	{% include "recipe_list_item.html" %}
        {% endfor %}
    </ul>
    {% else %}
        <p>Questa raccolta di ricette è vuota!</p>
    {% endif %}
</div>
{% if user.is_authenticated and user.id == collection.collection_author.id %}
	{% include "search_form_section.html" %}
{% endif %}

{% endblock %}